<div id="details">
    <super-navbar>
        <!--<super-navbar-button>
        </super-navbar-button>-->
        <super-navbar-title>
            菜品详情
        </super-navbar-title>
        <!--<super-navbar-button side="right" class="search" location="CityLife#search">
        </super-navbar-button>-->
    </super-navbar>
    <div id="diet-detail">
        <div id="detail-top" class="item item-thumbnail-left">
            <img src="/images/test.png">
            <h2>菜名：<span>糖醋排骨</span></h2>
            <h3>价格：<span>￥5.0</span></h3>
            <p>酸甜适中，不油不腻，口感丰富细腻，不会觉得任何一种调料的突兀。 颜色呈糖稀色，不浓不淡。就是拿汁水拌米饭也是一样好吃。</p>
        </div>
        <div id="diet-comments">
            <div class="index-title">
                <p><span class="index-title-left">大家的评价</span></p>
            </div>
            <div class="other-comments">
                <label>太咸<span>(5)</span></label>
                <label>太油<span>(3)</span></label>
                <label>太贵<span>(1)</span></label>
                <span class="dengdeng">....</span>
            </div>
            <button class="rank-button month-rank button button-large">我要评价</button>
        </div>
        <div class="detail-recommend">
            <div class="index-title">
                <p><span class="index-title-left">推荐</span></p>
            </div>
            <div class="breakfast-list">
                <div class="diet-item">
                    <img src="/images/test.png">
                    <p class="index-name center">糖醋排骨</p>
                    <p class="index-price center">￥5.0</p>
                </div>
                <div class="diet-item">
                    <img src="/images/test.png">
                    <p class="index-name center">糖醋排骨</p>
                    <p class="index-price center">￥5.0</p>
                </div>
                <div class="diet-item">
                    <img src="/images/test.png">
                    <p class="index-name center">糖醋排骨</p>
                    <p class="index-price center">￥5.0</p>
                </div>
                <div class="diet-item">
                    <img src="/images/test.png">
                    <p class="index-name center">糖醋排骨</p>
                    <p class="index-price center">￥5.0</p>
                </div>
            </div>
        </div>
        <div>
            <label>好次~</label><label>难次！</label>
            <label>太油</label><label>太咸</label><label>太贵</label><label>太甜</label>
            <button>发表评价</button>
        </div>
    </div>
    <div id="fade" class="black_overlay">
        <div class="white my-comment list">
            <div class="item item-thumbnail-left item-icon-right comment-pad">
                <img class="comment-img" src="/images/logo.png">
                <i class="icon super-ios-close-outline need-close"></i>
            </div>
            <div class="item">
                <span class="comment-title">你的评价</span><br>
                <div class="row padding0">
                    <label class="bolder specification-button good-specification">
                        <input type="radio" name="hahaha"><span>好吃~</span>
                    </label>
                    <label class="bolder specification-button good-specification">
                        <input type="radio" name="hahaha"><span>难吃！</span>
                    </label>
                </div>
            </div>
            <div class="item">
                <div class="row padding0">
                    <label class="bolder specification-button good-specification">
                        <input type="checkbox" name="eeeee"><span>太咸</span>
                    </label>
                    <label class="bolder specification-button good-specification">
                        <input type="checkbox" name="eeeee"><span>太油</span>
                    </label>
                    <label class="bolder specification-button good-specification">
                        <input type="checkbox" name="eeeee"><span>太贵</span>
                    </label>
                    <label class="bolder specification-button good-specification">
                        <input type="checkbox" name="eeeee"><span>太甜</span>
                    </label>
                </div>
            </div>
        </div>
        <button class="button button-full login-button1 login-button login-bottom">提交</button>
    </div>
</div>