<div id="detail-breakfast">
    <super-navbar>
        <!--<super-navbar-button>
        </super-navbar-button>-->
        <super-navbar-title>
            今日早餐
        </super-navbar-title>
        <!--<super-navbar-button side="right" class="search" location="CityLife#search">
        </super-navbar-button>-->
    </super-navbar>
    <div id="menus-detail">
        <img class="index-top-img" src="/images/test.png">
        <div>
            <div class="index-title">
                <p><span class="index-title-left">早餐</span><span class="item-note">更多</span></p>
            </div>
            <div class="breakfast-list">
                <div class="diet-item">
                    <img src="/images/test.png">
                    <p class="index-name center">糖醋排骨</p>
                    <p class="index-price center">￥5.0</p>
                </div>
                <div class="diet-item">
                    <img src="/images/test.png">
                    <p class="index-name center">糖醋排骨</p>
                    <p class="index-price center">￥5.0</p>
                </div>
                <div class="diet-item">
                    <img src="/images/test.png">
                    <p class="index-name center">糖醋排骨</p>
                    <p class="index-price center">￥5.0</p>
                </div>
                <div class="diet-item">
                    <img src="/images/test.png">
                    <p class="index-name center">糖醋排骨</p>
                    <p class="index-price center">￥5.0</p>
                </div>
                <div class="diet-item">
                    <img src="/images/test.png">
                    <p class="index-name center">糖醋排骨</p>
                    <p class="index-price center">￥5.0</p>
                </div>
            </div>
        </div>
    </div>
</div>