<div id="login-register">
    <super-navbar>
        <!--<super-navbar-button>
        </super-navbar-button>-->
        <super-navbar-title>
            登陆/注册
        </super-navbar-title>
        <!--<super-navbar-button side="right" class="search" location="CityLife#search">
        </super-navbar-button>-->
    </super-navbar>
    <div id="login">
        <div class="center">
            <img id="register-top-img" src="/images/logo.png">
        </div>
        <div id="register-top" class="list">
            <div class="item register-top item-input">
                <span class="input-label">用户名</span>
                <input type="text" name="phone" placeholder="请输入你的用户名">
            </div>
            <div class="item register-top item-input">
                <span class="input-label">密码</span>
                <input type="password" name="password" placeholder="请输入你的密码">
            </div>
        </div>
        <div class="row login-bottom">
            <button class="button login-button1 login-button col">登录</button>
            <button class="button login-button2 login-button col">注册</button>
        </div>
    </div>
</div>