<div id="modify-password">
    <super-navbar>
        <!--<super-navbar-button>
        </super-navbar-button>-->
        <super-navbar-title>
            修改密码
        </super-navbar-title>
        <!--<super-navbar-button side="right" class="search" location="CityLife#search">
        </super-navbar-button>-->
    </super-navbar>
    <div id="modify">
        <div class="center">
            <img id="register-top-img" src="/images/logo.png">
        </div>
        <div id="register-top" class="list">
            <div class="item register-top item-input">
                <span class="input-label">原始密码</span>
                <input type="text" name="phone" placeholder="请输入你的原始密码">
            </div>
            <div class="item register-top item-input">
                <span class="input-label">新密码</span>
                <input type="password" name="password" placeholder="请输入你的新密码">
            </div>
        </div>
        <div class="row login-bottom">
            <button class="button login-button1 login-button col">确认修改</button>
        </div>
    </div>
</div>