<div id="month-rank">
    <super-navbar>
        <!--<super-navbar-button>
        </super-navbar-button>-->
        <super-navbar-title>
            月榜单
        </super-navbar-title>
        <!--<super-navbar-button side="right" class="search" location="CityLife#search">
        </super-navbar-button>-->
    </super-navbar>
    <div id="month-rank-list">
        <div class="row line1">
            <div class="col-25 center">名次</div>
            <div class="col-50 center">菜名</div>
            <div class="col-25 center">好评率</div>
        </div>
        <div class="row line2">
            <div class="col-25 center">1</div>
            <div class="col-50 center">番茄炒蛋</div>
            <div class="col-25 center">90%</div>
        </div>
        <div class="row line1">
            <div class="col-25 center">2</div>
            <div class="col-50 center">番茄炒蛋</div>
            <div class="col-25 center">80%</div>
        </div>
        <div class="row line2">
            <div class="col-25 center">3</div>
            <div class="col-50 center">番茄炒蛋</div>
            <div class="col-25 center">70%</div>
        </div>
        <div class="row line1">
            <div class="col-25 center">4</div>
            <div class="col-50 center">番茄炒蛋</div>
            <div class="col-25 center">60%</div>
        </div>
        <div class="row line2">
            <div class="col-25 center">5</div>
            <div class="col-50 center">番茄炒蛋</div>
            <div class="col-25 center">50%</div>
        </div>
    </div>
</div>