<div id="notice">
    <super-navbar>
        <!--<super-navbar-button>
        </super-navbar-button>-->
        <super-navbar-title>
            菜品公告
        </super-navbar-title>
        <!--<super-navbar-button side="right" class="search" location="CityLife#search">
        </super-navbar-button>-->
    </super-navbar>
    <div id="notice-list">
        <div class="list">
            <p class="center message-date">2015年12月03日</p>
            <div class="list">
                <div class="item item-thumbnail-left send-message">
                    <img id="good-message-img" src="/images/test.png">
                    <p id="send-message-title">嗨，上新菜咯！</p>
                    <p id="send-message-detail">酸甜适中，不油不腻，口感丰富细腻，不会觉得任何一种调料的突兀。 颜色呈糖稀色，不浓不淡。就是拿汁水拌米饭也是一样好吃</p>
                </div>
                <a class="item item-icon-right">
                    <span>查看详情</span>
                    <i class="icon super-ios-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>