<div id="notice-detail">
    <super-navbar>
        <!--<super-navbar-button>
        </super-navbar-button>-->
        <super-navbar-title>
            公告详情
        </super-navbar-title>
        <!--<super-navbar-button side="right" class="search" location="CityLife#search">
        </super-navbar-button>-->
    </super-navbar>
    <div id="notice-content">
        <div class="list card">
            <div class="item item-avatar">
                <img src="/images/logo.png">
                <h2>嗨，上新菜咯！</h2>
                <p>2015年12月03日</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="/images/test.png">
                <p>
                    酸甜适中，不油不腻，口感丰富细腻，不会觉得任何一种调料的突兀。 颜色呈糖稀色，不浓不淡。就是拿汁水拌米饭也是一样好吃。
                </p>
            </div>
        </div>
    </div>
</div>