<div id="ranking">
    <super-navbar>
        <!--<super-navbar-button>
        </super-navbar-button>-->
        <super-navbar-title>
            菜品榜单
        </super-navbar-title>
        <!--<super-navbar-button side="right" class="search" location="CityLife#search">
        </super-navbar-button>-->
    </super-navbar>
    <div>
        <div class="center">
            <img id="register-top-img" src="/images/logo.png">
        </div>
        <button class="rank-button week-rank button button-large">周榜单</button><br>
        <button class="rank-button month-rank button button-large">月榜单</button>
    </div>
</div>