<div id="self-center">
    <super-navbar>
        <!--<super-navbar-button>
        </super-navbar-button>-->
        <super-navbar-title>
            个人中心
        </super-navbar-title>
        <!--<super-navbar-button side="right" class="search" location="CityLife#search">
        </super-navbar-button>-->
    </super-navbar>
    <div class="list">
        <div class="center">
            <img id="register-top-img" src="/images/logo.png">
        </div>
        <a class="item item-icon-right">
            <span class="bolder">ID</span><span class="item-note font-black">1</span>
        </a>
        <a class="item item-icon-right">
            <span class="bolder">用户名</span><span class="item-note font-black">XXXXX</span>
        </a>
        <a class="item item-icon-right">
            <span class="bolder">修改密码</span>
            <i class="icon super-ios-arrow-right"></i>
        </a>
        <a class="item item-icon-right">
            <span class="bolder">查看公告</span>
            <i class="icon super-ios-arrow-right"></i>
        </a>
    </div>
    <button class="rank-button month-rank button button-large">退出</button>
</div>