<div id="shoutings">
    <super-navbar>
        <!--<super-navbar-button>
        </super-navbar-button>-->
        <super-navbar-title>
            大家来喊话
        </super-navbar-title>
        <!--<super-navbar-button side="right" class="search" location="CityLife#search">
        </super-navbar-button>-->
    </super-navbar>
    <div class="shoutings">
        <div class="card">
            <div class="item item-divider">
                昵称：XXXX
            </div>
            <div class="item item-text-wrap">
                大家一起来喊话~~
            </div>
            <div class="item item-divider">
                2015/12/03 12:12
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                昵称：XXXX
            </div>
            <div class="item item-text-wrap">
                大家一起来喊话~~
            </div>
            <div class="item item-divider">
                2015/12/03 12:12
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                昵称：XXXX
            </div>
            <div class="item item-text-wrap">
                大家一起来喊话~~
            </div>
            <div class="item item-divider">
                2015/12/03 12:12
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                昵称：XXXX
            </div>
            <div class="item item-text-wrap">
                大家一起来喊话~~
            </div>
            <div class="item item-divider">
                2015/12/03 12:12
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                昵称：XXXX
            </div>
            <div class="item item-text-wrap">
                大家一起来喊话~~
            </div>
            <div class="item item-divider">
                2015/12/03 12:12
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                昵称：XXXX
            </div>
            <div class="item item-text-wrap">
                大家一起来喊话~~
            </div>
            <div class="item item-divider">
                2015/12/03 12:12
            </div>
        </div>
        <div class="bar bar-footer item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon super-edit placeholder-icon"></i>
                <input type="text" placeholder="Shouting">
            </label>
            <button class="button button-clear">
                喊话
            </button>
        </div>
    </div>
</div>