<div id="success">
    <super-navbar>
        <!--<super-navbar-button>
        </super-navbar-button>-->
        <super-navbar-title>
            喊话成功
        </super-navbar-title>
        <!--<super-navbar-button side="right" class="search" location="CityLife#search">
        </super-navbar-button>-->
    </super-navbar>
    <div class="success">
        <div class="center">
            <img id="success-img" src="/images/success.png">
            <p>评价成功！</p>
        </div>
    </div>
</div>